<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>add user</h1>
    <form method="POST">
      {% csrf_token %}
      <label>name</label><br />
      {{form.name}}<br />
      <label>email</label><br />
      {{form.email}}
      <button type="submit">Add User</button>
    </form>
    <h2>Users List</h2>
    <ul>
      {% for user in users %}
      <li>{{ user }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
